<div id="header" class="container">
  {{#if menuHide}}
  {{else}}
  <ul class="nav nav-tabs mr-auto">
     <li class="nav-item">
      <a class="nav-link" href="/index" id="index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register" id="register">Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/package" id="package">Package</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/advance" id="advance">Advance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admit" id="admit">Admission</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/invoice" id="invoice">Invoice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/discharge" id="discharge">Discharge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/due" id="dues">Dues</a>
    </li>
  </ul>
  {{/if}}
</div>