<div class="container-fluid row" id="title-bar">
    <div class="col-md-2">
        <a href="/"><img src="/images/care_logo.jpg" alt="care-portal-home" border="0" height="100" width="130" style="max-width: 130px;"></a>
    </div>
    <div class="col-md-10">
            <p class="{{#if print}}h1{{else}}display-4{{/if}}">Care Medical and Healthcare Center</p>
            <p class="h6">123 Example Street, Example</p>
        {{#if print}}
            <p class="h6">Land Line: 000-00000    Mobile: +00 - 0000 000 000</p>
        {{/if}}
    </div>
</div>