<div class="container">
    <hr />
    <div class="row mt-2">
        {{#if message}}
        <div class="col-md-4 col-md-offset-6 m-auto alert alert-info">
            <span>{{message}}</span>
        </div>
        {{/if}}
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 m-auto">
            <h4>Please provide below details to change your password</h4>
            <form action="/changepassword" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" minlength=5  required>
                </div>
                <div class="form-group">
                    <label for="oldpassword">Old Password</label>
                    <input type="password" id="oldpassword" name="oldpassword" class="form-control" minlength=8  required>
                </div>
                <div class="form-group">
                    <label for="newpassword">Password</label>
                    <input type="password" id="newpassword" name="newpassword" class="form-control" minlength=8 required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="passwordConf" name="passwordConf" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>