<div class="container ">
    <hr />

    <div class="row mt-5">
        <div class="col-md-2 block">
            <a href="/register" class="circle round-1">
                <p>Registration</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/package" class="circle round-4">
                <p>Package</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/advance" class="circle round-5">
                <p>Advance</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/admit" class="circle round-2">
                <p>Admission</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/invoice" class="circle round-4">
                <p>Invoice</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/discharge" class="circle round-3">
                <p>Discharge</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/due" class="circle round-2">
                <p>Dues</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/patientdetails" class="circle round-5">
                <p>All Patients Details</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/getalldues" class="circle round-3">
                <p>Get All Dues</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/getpaymentdetails" class="circle round-1">
                <p>Payment Track</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/putidentification" class="circle round-2">
                <p>Update Aadhar Card</p>
            </a>
        </div>
        <div class="col-md-2 block">
            <a href="/settings" class="circle round-6">
                <p>Settings</p>
            </a>
        </div>
    </div>
</div>